body { 
	background-image: url("backg4.jpg");
}
h1 {font-family: "Times New Roman", Arial, serif;
}
h1 {color: white;
}

h2 {font-family: "Times New Roman", Arial, serif;
}
h2 {color: white;
}

li { color: white; }
ul 		

p {
	
}
a { text-decoration: underline; }

table,tr,td { 
  }
h2{
	font-size: 2em
}